<tabset>
  <tab ng-repeat="object in collection.objects" heading="{{object.name}}">
    <div style="margin:20px;" music-object-editor file="object">
    </div>
  </tab>
  <tab ng-click="addObject()" heading="+"></tab>
</tabset>
