<head>
<script src="lib/angular.min.js"></script>
<script src="lib/jquery-1.11.2.min.js"></script>
<script src="lib/bootstrap.min.js"></script>
<script src="lib/ui-bootstrap-tpls-0.12.1.min.js"></script>
<script src="lib/codemirror.js"></script>
<script src="lib/codemirror/mode/javascript.js"></script>
<script src="lib/angular/ui-codemirror.js"></script>
<script src="lib/timbre.js"></script>
<script src="lib/wav/wav.js"></script>
<script src="lib/fn.js"></script>
<script src="lib/recorder/recorder.js"></script>
<script src="lib/webaudioapi.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-route.js"></script>
<script src="site/services.js"></script>
<script src="site/controllers.js"></script>
<script src="site/routes.js"></script>
<script src="site/directives.js"></script>

<script src="src/music/typecast.js"></script>
<script src="src/music.js"></script>
<script src="src/music/utils.js"></script>
<script src="src/music/noteSequence.js"></script>
<script src="src/music/sequenceParser.js"></script>
<script src="src/music/instruments.js"></script>
<script src="src/music/effects.js"></script>
<script src="src/music/lemonade.js"></script>
<script src="src/music/wave.js"></script>
<script src="src/music/pattern.js"></script>
<script src="src/music/song.js"></script>
<script src="src/soundfont/accordion-ogg.js"></script>
<script src="src/soundfont/acoustic_grand_piano-ogg.js"></script>

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/codemirror.css">
<link rel="stylesheet" href="css/main.css">

</head>
<body>

<div ng-app="MusicShowCaseApp">
    <div ng-controller="MainController">
        <table>
            <tr>
                <td class="indexsection">
                    <li class="examplelist">
                        <ul ng-repeat="example in examples" ng-click="switchTo(example)">
                            {{example.name}}
                        </ul>
                    </li>
                </td>
                <td class="editorsection">
                    <div ng-view></div>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
