<h1> ADSR  </h1>

Attack time: <input ng-model="file.data.attackTime"></input> s<br/>
Decay time: <input ng-model="file.data.decayTime"></input> s<br/>
Release time: <input ng-model="file.data.releaseTime"></input> s<br/>

Sustain Level: <input ng-model="file.data.sustainLevel"></input><br/>

<div array-editor collection="file" observer="observer"></div>
