<h1> Test Component  </h1>

Transpose: <input ng-init="file.data.transpose = file.data.transpose || 0" ng-model="file.data.transpose"></input>
<br/>
Oscillator Type: <select ng-init="file.data.oscillatorType = file.data.oscillatorType || 'square'" ng-model="file.data.oscillatorType" ng-options="type for type in ['square', 'sine', 'sawtooth']" />
